{{extend  './layout.html'}}
<!-- 轮播图 -->
 
{{block  "content"}}
<div class="jumbotron" style="margin:10px 0  500px 0">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/admin/user" role="button">Learn more</a>
        </p>
   </div>
 
{{/block}}

{{block 'js_script'}}
<script>
    require(['jquery', 'bootstrap'], function ($, strap) {
        $('.carousel').carousel({
            interval: 2000
        })

    })
</script>
{{/block}}