html{
}

html body{
   background: #fff;
   width: 100%;
   
   
}
 
 
@media (max-width: 992px) { 
  .right-box{
      display:none;
  }
}
/*
colpick Color Picker / colpick.com
*/

/*Main container*/
